<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <typeAlias type="com.example.gittest1.domain.vo.SpaceVO" alias="spaceVO"/>
        <typeAlias type="com.example.gittest1.domain.vo.SpaceUserVO" alias="spaceUserVO"/>
        <typeAlias type="com.example.gittest1.domain.vo.TagVO" alias="tagVO"/>
        <typeAlias type="com.example.gittest1.domain.vo.DefaultImgVO" alias="defaultImgVO"/>
    </typeAliases>
</configuration>